.card a img {
    object-fit: contain;
    border-radius: 15px;
    width: 100%;
    box-shadow: var(--picture-shadow);
}

.description {
    font-size: clamp(1.1rem, 3.5vw, 1.2rem);
}

.card {
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 1rem;
}

.card h2 {
    margin-bottom: 1.2rem;
}

.card > a {
    position: relative;
    transition: filter 350ms ease, transform 350ms ease;
    align-self: center;
    border-radius: 15px;
    width: clamp(25rem, 45vw, 40rem);
    flex: 1;
}

.card > a:hover {
    filter: brightness(0.8);
    transform: scale(1.02);
}

.card > a::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: inherit;
  pointer-events: none;
}

.card > a:hover::after {
  opacity: 1;
}

.right {
    padding: 1rem;
    max-width: 35%;
}

.right > *:nth-child(2), .right > *:nth-child(4){
    padding-bottom: 1.2rem;
}

.right > *:nth-child(3) {
    padding-bottom: 1rem;
}

.right ul {
    padding: 0;
    margin: 0;
}
.right li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.right li svg {
    flex-shrink: 0;
    transform: translateY(0.15rem);
}

.right a {
    font-family: var(--font-geist-mono);
    font-size: clamp(1.05rem, 2.7vw, 1.1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    background-color: var(--accent);
    color: var(--btn-text);
}

.right a svg {
    flex-shrink: 0;
}

.right a:hover {
    background-color: var(--accent-hover);
    transform: scale(1.03);
}

.right span {
    font-size: 2rem;
    line-height: 0;
}

.inversed {
    order: 1;
}

@media (max-width: 1000px) {
    .card {
        flex-direction: column;
        align-items: stretch;
    }
    .right {
        max-width: none !important;
    }
    .card h2 {
        text-align: center;
    }
    /* .right a img {
        width: 100%
    } */
    .card > a {
        width: 100%;
    }
    .inversed {
        order: 0;
    }
    .right a {
        width: 100%;
        max-width: 17rem;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .right {
        padding: 1rem 0.5rem;
    }
}