.card h3 {
    font-size: 1.5rem;
}

.card img {
    object-fit: contain;
    border-radius: 15px;
    width: 40rem;
    align-self: center;
    /* border: 1px solid var(--borders);
    box-shadow: var(--card-shadow); */
}

.card {
    display: flex;
    border-radius: 15px;
    gap: 1rem;
    /* border: 1px solid var(--borders);
    box-shadow: var(--card-shadow); */
}

.right {
    padding: 1rem;
    /* background-color: var(--card-background); */
}

.right p {
    font-size: 1.1rem;
}

.right > *:not(:last-child):not(:nth-child(3)){
    padding-bottom: 1.5rem;
}

.right > *:nth-child(3) {
    padding-bottom: 1rem;
}

.right ul {
    padding: 0;
    margin: 0;
}
.right li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.right li svg {
    flex-shrink: 0;
    padding-top: 0.2rem;
}

.right a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    font-family: var(--font-geist-mono);
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    background-color: var(--accent);
    color: var(--btn-text);
    border: 2px solid rgba(255, 255, 255, 0);
}

.right a:hover {
    background-color: var(--accent-hover);
    transform: scale(1.03);
}

.right span {
    font-size: 2rem;
    line-height: 0;
}

.stack {
    display: flex;
    align-items: center;
    gap: 1rem;
}