.logos {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logos img {
    width: 2.5rem;
}

:global(html.dark) .express {
    filter: invert(1);
}

:global(html.dark) .next {
    border: 1px solid #80808057;
    border-radius: 50%;
}