.projects {
    max-width: 80rem;
}

.projects > * {
    margin-bottom: 5rem;
}

.projects h1 {
    margin-bottom: 1rem;
}

.headers {
    max-width: 68rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.headers > p {
    font-size: clamp(1.2rem, 4vw, 1.4rem) !important;
}

@media (max-width: 1000px) {
    .projects > *:not(:last-child) {
        margin-bottom: 2rem;
    }
    .headers > * {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .projects > p, .projects > h1 {
        text-align: center;
    }
}