/* .projects {
    max-width: 80rem;
} */

.projects > *:not(section) {
    padding: 0 0.5rem;
}

.projects h1 {
    margin-bottom: 1rem;
}

.headers {
    /* max-width: 68rem; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
}

.headers > p {
    font-size: clamp(1.2rem, 4.5vw, 1.6rem) !important;
}

@media (max-width: 1000px) {
    .headers > * {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .projects > *:not(:last-child) {
        margin-bottom: 2.5rem;
    }
    .projects > p, .projects > h1 {
        text-align: center;
    }
    .projects > section {
        margin-bottom: 1rem;
    }
}