.stack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* max-width: 15rem; */
    gap: 1rem;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
}

.stack > * {
    flex: 1;
}

.stack h4 {
    font-family: var(--font-geist-mono);
    font-weight: 450;
}

.stack img {
    width: clamp(2.1rem, 6vw, 2.3rem);
    flex-shrink: 0;
}

:global(html.dark) .express, :global(html.dark) .prisma {
    filter: invert(1);
}

.logo {
    /* flex: 1; */
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
    /* margin-bottom: 1rem; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.frontend, .backend {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 1rem;
}

@media (max-width: 350px) {
    .logo {
        justify-content: flex-start;
    }
}
