.thanks {
    max-width: 40rem;
    text-align: center;
    flex: 1;
    margin-bottom: 4rem;
}

.thanks > * {
    margin-bottom: 2rem;
}

.thanks > h1 {
    margin-bottom: 1rem;
}

.thanks > p {
    font-size: clamp(1.1rem, 2.9vw, 1.4rem);
    line-height: 1.4;
}

.thanks > a {
    text-decoration: none;
    font-size: clamp(1.2rem, 4vw, 1.6rem);
    color: var(--accent);
}

.thanks > a:hover {
    text-decoration: underline;
}

:global(body):has(.thanks) {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: 678px) {
    .thanks {
        margin-bottom: 3rem;
    }
}