.hero {
    padding: 2rem;
    border-radius: 15px;
    background-color: var(--card-background);
    border: 1px solid var(--borders);
    box-shadow: var(--card-shadow);
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.hero h2 {
    font-size: 2.5rem;
    line-height: 1;
}

.hero > svg {
    flex-shrink: 0;
}

.right > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.top {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.hero p:first-of-type {
    font-size: 1.4rem !important;
}

.hero p:last-of-type {
    font-size: 1.2rem;
}

.right p > a {
    text-decoration: none;
    color: inherit;
    transition: color 120ms ease;
}

.hero p > a:hover {
    color: var(--link-hover);
}

.ctaButtons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    font-family: var(--font-geist-mono);
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.btn.primaryBtn {
    background-color: var(--accent);
    color: var(--btn-text);
    border: 2px solid rgba(255, 255, 255, 0);
}

.btn.primaryBtn:hover {
    background-color: var(--accent-hover);
    transform: scale(1.03);
}

.btn.secondaryBtn {
    color: var(--accent);
    background-color: transparent;
    border: 2px solid var(--accent);
}

.btn.secondaryBtn:hover {
    background-color: var(--accent);
    color: var(--background);
    transform: scale(1.03);
}