.home {
    max-width: 68rem;
}

.home > * {
    margin-bottom: 5rem;
}

.home section > h2, .home > h2 {
    margin-bottom: 3rem;
    text-align: center;
}

@media (max-width: 768px) {
    .home > *:last-child {
        margin-bottom: 1.5rem;
    }
}