/* .home {
    max-width: 68rem;
} */

.home > *:not(:last-child) {
    margin-bottom: 5rem;
}

.home section > h2, .home > h2 {
    margin-bottom: 3rem;
    text-align: center;
}

@media (max-width: 768px) {
    .home > * {
        margin-bottom: 3rem;
    }

    .home section > h2, .home > h2 {
        margin-bottom: 2rem;
    }
}