/* .home {
    max-width: 68rem;
} */

.home > *:not(:last-child):not(h2) {
    margin-bottom: 5rem;
}

.home h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.home > div h3 {
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .home > * {
        margin-bottom: 3rem;
    }

    .home section > h2, .home h2 {
        margin-bottom: 2rem;
    }
}