.hero {
    background-color: var(--card-background);
    border: 1px solid var(--borders);
    box-shadow: var(--card-shadow);
}
.hero > div {
    padding: 3rem 1.5rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.hero > div {
    max-width: 60rem;
    margin: auto;
}

.hero h1 {
    line-height: 1;
}

.hero svg {
    flex-shrink: 0;
}

.right > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.right span {
    display: none;
}

.top {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.hero p:first-of-type {
    font-size: clamp(1.15rem, 3vw, 1.4rem) !important;
}

.hero p:last-of-type {
    font-size: clamp(1.05rem, 2.7vw, 1.2rem);
}

.right p > a {
    position: relative;
    text-decoration: none;
    color: var(--accent);
    transition: color 300ms ease;
    font-weight: 550;
}

.right p > a:hover {
    text-decoration: underline;
}

/* .right p > a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    transition: transform 200ms ease;
} */

.right p > a:nth-child(1)::after {
    background-color: blue;
}
.right p > a:nth-child(2)::after {
    background-color: red;
}
.right p > a:nth-child(3):after {
    background-color: #15ee15;
}
.right p > a:nth-child(4)::after {
    background-color: mediumpurple;
}
.right p > a:nth-child(5)::after {
    background-color: #ff6bfc;
}

.hero p > a:hover::after {
    transform: translateY(250%) scaleY(3);
}

/* .hero p > a:hover {
    color: var(--link-hover);
    border-bottom: none !important;
} */

.ctaButtons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 1rem;
}

.btn svg {
    stroke-width: 4px;
}

.btn {
    font-family: var(--font-geist-mono);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 350ms ease, transform 350ms ease;
    max-width: 17rem;
}

.btn.primaryBtn {
    background-color: var(--accent);
    color: var(--btn-text);
    border: 2px solid rgba(255, 255, 255, 0);
}

.btn.primaryBtn:hover {
    background-color: var(--accent-hover);
    transform: scale(1.03);
}

.btn.secondaryBtn {
    color: var(--accent);
    background-color: transparent;
    border: 2px solid var(--accent);
}

.btn.secondaryBtn:hover {
    background-color: var(--accent);
    color: var(--background);
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .hero > div {
        padding-left: 1rem;
    }
    .hero > div > svg {
        display: none;
    }
    .right span {
        display: inline;
    }
    .btn {
        width: 100%;
        margin: auto;
    }

    .hero h1 {
        text-align: center;
    }
}

@media (max-width: 500px) {
  .hero > div {
    padding: 2rem 1rem;
  }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateY(0); }
}