.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 2rem;
    margin-bottom: 3rem;
    max-width: 65rem;
}

.header > img {
    width: 8rem;
    height: auto;
    border-radius: 50%;
}

.name {
    display: flex;
    align-items: center;
    gap: 2rem;
}