.footer {
    border-top: 2px solid var(--shadow);
}

.footer > * {
    width: 55vw;
    margin: auto;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links img, .links svg {
    margin: auto;
    padding: 0;
}

.links img {
    border-radius: 50%;
    transition: filter 600ms ease;
    /* transition-delay: 200ms; */
}

.links > a {
    width: clamp(2.3rem, 6vw, 2.5rem);
    padding: 0.3rem;
    aspect-ratio: 1;
    overflow: hidden;
    align-content: center;
    border-radius: 50%;
    border: 2px solid var(--text-clr);
    transition: background-color 600ms ease, transform 350ms ease;
}

:global(html.dark) .links img, :global(html.dark) .links svg {
    filter: invert(1);
}

.links > a:hover {
    background-color: var(--accent);
    /* border: 3px solid var(--accent);
    transform: scale(1.2); */
}

:global(html.light) .links > a:hover img, :global(html.light) .links > a:hover svg {
    filter: invert(1);
}

:global(html.dark) .links > a:hover img, :global(html.dark) .links > a:hover svg {
    filter: invert(0);
}

.footer p {
    font-size: clamp(0.95rem, 3vw, 1.125rem)
}

.footer > p:first-of-type {
    text-align: left;
}

.footer > p:last-of-type {
    text-align: right;
}

.footer p a {
    text-decoration: none;
    color: var(--accent);
}

.footer p a:hover {
    text-decoration: underline;
}

.line {
    background: linear-gradient(to right, var(--background), var(--shadow) , var(--background));
    height: 2px;
    width: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    .top {
        flex-direction: column;
        justify-content: center;
        gap: 1.2rem;
    }

    .top > div {
        order: -1;
    }

    .footer > * {
        width: 100%;
    }
}