.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60rem;
    gap: 2rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.header img {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.header > a {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: transform 350ms ease;
}

.right {
    padding: 0 0.1rem;
}

.right > button {
    display: none;
}


.header > a:hover {
    transform: scale(1.05);
}


.name {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.name > a {
    text-decoration: none;
    color: inherit;
    font-size: clamp(1.8rem, 7vw, 2.3rem);
    line-height: 1.2;
}

@media (max-width: 1000px) {
    .header {
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        margin-bottom: 3rem;
        margin-left: 0;
        padding: 0;
    }
    .right {
        width: 100%;
    }

    .right > button {
        display: block;
    }

    .name {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .name span {
        display: none;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}