.header {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 15vw;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
    /* animation: fadeIn 450ms ease-out both; */
}

.header img {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.header > a {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: transform 350ms ease;
}

.header > a:hover {
    transform: scale(1.05);
}


.name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.name > a {
    text-decoration: none;
    color: inherit;
    font-size: clamp(1.8rem, 7vw, 2.3rem);
    line-height: 1.2;
}

@media (max-width: 1000px) {
    .header {
        margin-bottom: 3rem;
    }
}

@media (max-width: 678px) {
    .header {
        flex-direction: column;
        margin-bottom: 3rem;
        margin-left: 0;
    }
    .right {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .name span {
        display: none;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}