.button {
    padding: 0;
    /* position: absolute;
    top: 15px;
    right: 50px; */
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 150ms ease;
}

.button:hover {
    transform: scale(1.3);
}

.button svg {
    stroke: var(--text-clr);
}

:global(html.light) .button:hover {
    background-color: #dadada;
}

:global(html.dark) .button:hover {
    background-color: #2a2a2a;
}

/* :global(html.light) .button:hover svg {
    stroke: blue;
} */

.button:hover svg {
    stroke: red !important;
}

@media (max-width: 678px) {
    .button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}