/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* p {
  text-wrap: pretty;
} */

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root.light {
  --background: #fbf2f5;
  --gradient: linear-gradient(to bottom right, #ffffff, #f6f6f6);
  --bg-gradient-opacity: 0.2;
  --text-clr: black;
  --btn-text: white;
  --shadow: #bebebe;
  --picture-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  --card-background: white;
  --card-second-bg: #fff5f7;
  --text-secondary:  #5a6a87;
  --borders: #e5e7eb;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --accent:  #6e07f3;
  --accent-hover: #5e03d4;
  --other-accent: #facc15;
  --other-accent-hover: #dca707;
  --link-hover: #1300ff;
  --scroll-btn: rgb(0 0 0 / 20%);
  --input-bg: #f5f5f5;
  --input-border: #cccccc;
  --input-focus: #2563eb;
  --input-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
  --stack-bg: #e4e3e3;
  --stack-border: #6e07f382;
  --stack-card-hover: 0px 0px 6px #6e07f3b0;
  --stack-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --project-gradient: rgb(110, 7, 243, 1) 0%,
        rgba(110, 7, 243, 0.95) 40%,
        rgba(110, 7, 243, 0.6) 65%,
        rgba(110, 7, 243, 0.3) 80%,
        rgba(110, 7, 243, 0) 100%;
}

:root.dark {
  --background: #121212;
  --gradient: linear-gradient(to bottom, #1a1a1a, #0f0f0f);
  --bg-gradient-opacity: 1;
  --text-clr: #ededed;
  --btn-text: black;
  --shadow: #484747;
  --picture-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 0 5px rgba(255, 255, 255, 0.05);
  --card-background: #1e1e1e;
  --card-second-bg: #141313;
  --text-secondary:  #8b8b8b;
  --borders: #2c2c2c;
  --card-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 0 0 5px rgba(255, 255, 255, 0.05);
  --accent:  #facc15;
  --accent-hover: #dca707;
  --other-accent: #6e07f3;
  --other-accent-hover: #5e03d4;
  --link-hover: #ff9f00;
  --scroll-btn: rgba(255, 255, 255, 0.2);
  --input-bg: #1e1e1e;
  --input-border: #444;
  --input-focus: #facc15;
  --input-shadow: 0 0 0 3px rgba(250, 204, 21, 0.3);
  --stack-bg: #443737;
  --stack-border: #facc155f;
  --stack-card-hover: 0px 0px 6px #facc1580;
  --stack-shadow: -4px -1px 20px 0px #00000085;
  --project-gradient: rgb(250, 204, 21, 1) 0%,
        rgba(250, 204, 21, 0.95) 40%,
        rgba(250, 204, 21, 0.6) 55%,
        rgba(250, 204, 21, 0.3) 70%,
        rgba(250, 204, 21, 0) 100%;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  padding: 10dvh 0; 
  padding-bottom: 0 !important;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--text-clr);
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  font-weight: 350;
}

body > * {
    margin: auto;
}

body > header, body > footer {
  /* max-width: 68rem; */
  width: 100%
}

body > *:not(footer):not(button):not(main) {
  margin-bottom: 3rem;
}

h1 {
  font-size: clamp(2.2rem, 7.4vw, 2.7rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(2rem, 5.9vw, 2.5rem);
  line-height: 1.3;
}

h3 {
  font-size: clamp(1.6rem, 4.8vw, 2rem);
  line-height: 1.4;
}

h4 {
  font-size: clamp(1.2rem, 2.7vw, 1.6rem);
}

h1, h2, h3 {
  font-weight: 500;
}

html.light strong {
  font-weight: 450;
}

html.dark strong {
  font-weight: 500;
}

a, button {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-geist-mono);
}

.scroll-up {
  position: fixed;
  bottom: 6rem;
  right: 3.5vw;
  z-index: 9;
  width: clamp(2.5rem, 4vw, 3rem);
  height: auto;
  aspect-ratio: 1;
  align-content: center;
  background-color: var(--scroll-btn);
  border: none;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  opacity: 0;
  transition: background-color 250ms, opacity 250ms ease-in;
}

.scroll-up svg {
  margin: auto;
  width: 100%;
}

.scroll-up:hover {
  background-color: var(--accent);
}

.fade {
  animation: 250ms fade;
}

main {
  animation: 250ms fade2;
}

@keyframes fade {
    from {
      opacity: 0.7;
    }
    
    to {
      opacity: 1;
    }
}


@keyframes fade2 {
    from {
      opacity: 0.4;
    }
    
    to {
      opacity: 1;
    }
}

/* @media (max-width: 900px) {
  body > * {
    max-width: 100%;
  }
} */

@media (max-width: 678px) {
  body {
    padding: 2rem 0;
  }
}

@media (max-width: 500px) {
  body {
    padding: 2rem 0;
  }
}
